# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/App/catalogo-app/dist
/App/catalogo-app/tmp
/App/catalogo-app/out-tsc
# Only exists if Bazel was run
/App/catalogo-app/bazel-out

# dependencies
/App/catalogo-app/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/App/catalogo-app/.idea
/App/catalogo-app.project
/App/catalogo-app.classpath
/App/catalogo-app.c9/
*.launch
/App/catalogo-app.settings/
*.sublime-workspace

# IDE - VSCode
/App/catalogo-app.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/App/catalogo-app/.sass-cache
/App/catalogo-app/connect.lock
/App/catalogo-app/coverage
/App/catalogo-app/libpeerconnection.log
/App/catalogo-app/npm-debug.log
/App/catalogo-app/yarn-error.log
/App/catalogo-app/testem.log
/typings

# System Files
/App/catalogo-app/.DS_Store
/App/catalogo-app/Thumbs.db
