<body class="sidebar-mini" style="height: auto;">
    

    <div class="wrapper">
       <app-nav></app-nav>
        

       <app-menu></app-menu>

        <div class="content-wrapper" >        
           
            <div class="content">
                <div class="container-fluid">
                    <router-outlet></router-outlet>
                    <p-toast></p-toast>
                    <p-confirmDialog #cd header="Atenção!"  position="top" icon="pi pi-exclamation-triangle" message="Você deseja prosseguir com essa ação?">
                        <p-footer>
                            <button type="button" pButton icon="pi pi-times" label="Não" (click)="cd.reject()"></button>
                            <button type="button" pButton icon="pi pi-check" label="Sim" (click)="cd.accept()"></button>
                        </p-footer>
                    </p-confirmDialog>
                    
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
    
</body>
